/* styles that effect everything */

@import 'base';

$border-color: #bdbdbd;
$base-color: #1976d2;
$list-color: #ffffff;
$text-color: #757575;
$li-padding: 0em;
$ul-padding: 0em;

.header {
  padding: 0.5em;
  color: #ffffff;
  font-size: 2em;
  font-family: Roboto;
  border-bottom: 1px solid $border-color;
  input {
    margin: 0.2em;
    padding: 0.5em;
    border: 0px none $border-color;
    border-radius: 2em;
    width: 96%;
    &:focus {
      outline: none;
      box-shadow: 0px 0px 2px blue;
    }
  }
}

span {
  color: $text-color;
  font-family: Roboto;
}

h4 {
  margin: 0px;
  color: $text-color;
}

ul {
  margin: 0px;
  padding: $ul-padding;
}

li {
  cursor: pointer;
  list-style-type: none;
  background-color: $list-color;
  border-bottom: 1px solid $border-color;
  padding: $li-padding;
  margin: 0px;

  &.window,
  &.tab {
    div.holder {
      height: 3em;
      display: flex;
      align-items: center;
      &.deleted {
        transition: all 0.3s linear;
        transform-origin: top;
        transform: scaleY(0);
        height: 0px;
      }
      div.text {
        height: 3em;
        flex: 1;
        padding-left: 1em;
        justify-items: fill;
        align-items: center;
        display: flex;
        transition: 0.5s;
        &:hover {
          background-color: #e0dfdfb4;
          transition: 0.5s;
        }
        img {
          height: 2em;
          width: 2em;
          padding-right: 1em;
          &.tabFav {
            padding-left: 3em;
          }
        }
      }
      div.buttons {
        height: 3em;
        margin-left: auto;
        border-width: 0px;
        display: flex;
        button {
          cursor: pointer;
          background-color: #d9534f;
          height: 100%;
          width: 3em;
          padding: 0px;
          margin: 0px;
          border-width: 0px;
          transition: 0.5s;
          &:hover {
            background-color: #b83f3b !important;
            transition: 0.5s;
          }
        }
      }
    }
  }
  &.deleted {
    transition: all 0.3s linear;
    border-bottom: 0px;
  }
}
div.spinner {
  margin: 0;
  height: 20em;
  width: 100%;
  background-color: $list-color;
  display: flex;
  align-items: center;
  justify-content: center;
}
span.spinner {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 5px solid rgba(29, 161, 242, 0.2);
  border-left-color: rgb(29, 161, 242);
  background: transparent;
  background-color: $list-color;
  animation: rotate-s-loader 1s linear infinite;
  margin: 6rem auto;
}

@keyframes rotate-s-loader {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

.body {
  margin: 0px;
  background-color: $base-color;
}

body {
  margin: 0px;
  background-color: red;
}
