<template>
  <div class="body">
    <div class="header">
      <input name="search" v-model="search" placeholder="Search" v-focus>
    </div>
    <div v-if="isLoading" class="spinner">
      <span class="spinner"></span>
    </div>
    <window-tag
      v-else
      v-for="(win, index) in filteredWindows"
      v-bind:key="index"
      v-bind:search="search"
      v-bind:win="win"
    />
  </div>
</template>

<script>
import Vue from "vue";
import windowTag from "../Window/WindowTag.vue";

import Tabs from "../Tabs";

import WindowTag from "../Window/WindowTag.vue";
import { getWindows, windowsWith } from "../WindowUtils";
import { setTimeout } from "timers";

export default {
  data() {
    return {
      search: "",
      windows: [],
      filteredWindows: [],
      isLoading: true
    };
  },
  directives: {
    focus: {
      // directive definition
      inserted: function(el) {
        el.focus();
      }
    }
  },
  components: {
    windowTag
  },
  watch: {
    search(newVal) {
      getWindows(windows => {
        this.windows = windows;
        this.filteredWindows = windowsWith(this.windows, newVal);
        this.search = newVal;
      });
    }
  },
  created() {
    setTimeout(() => {
      getWindows(windows => {
        this.windows = windows;
        this.filteredWindows = windowsWith(this.windows, this.search);
        this.isLoading = false;
      });
    }, 1);
  }
};
</script>