<template>
  <li class="tab" v-bind:class="deleted ? 'deleted' : ''">
    <div class="holder" v-if="!deleted||true"  v-bind:class="deleted ? 'deleted' : ''">
      <div v-on:click="switchTab(tab.id, tab.windowId)" class="text">
        <img class="tabFav" v-bind:src="tab.favIconUrl">
        <span>{{title}}</span>
      </div>
      <div class="buttons">
        <button class="xBtn" type="button" v-on:click="closeTab(tab.id)">
          <svg style="width:24px;height:24px" viewBox="0 0 24 24">
            <path
              fill="#ffffff"
              d="M9,3V4H4V6H5V19A2,2 0 0,0 7,21H17A2,2 0 0,0 19,19V6H20V4H15V3H9M7,6H17V19H7V6M9,8V17H11V8H9M13,8V17H15V8H13Z"
            ></path>
          </svg>
        </button>
      </div>
    </div>
  </li>
</template>

<script>
export default {
  data() {
    return {
      title: "",
      deleted: false
    };
  },
  watch: {
    tab(newVal) {
      if (newVal.title.length > 64) {
        this.title = newVal.title.substr(0, 64) + "...";
      } else {
        this.title = newVal.title;
      }
    },
    deleted(deleted) {
      this.deleted = deleted;
    }
  },
  created() {
    if (this.tab.title.length > 64) {
      this.title = this.tab.title.substr(0, 64) + "...";
    } else {
      this.title = this.tab.title;
    }
  },
  methods: {
    switchTab: function(id, winId) {
      chrome.windows.update(winId, { focused: true });
      chrome.tabs.update(id, { active: true });
    },
    closeTab: function(id) {
      chrome.tabs.remove(id);
      this.deleted = true;
    }
  },
  props: ["tab", "deleted"]
};
</script>