<template>
  <div>
    <h1>{{ title }}</h1>
    <p>Window!</p>
    <button @click="changeFoo">Change it</button>
    <p>Try inspecting the background view!</p>
  </div>
</template>

<script>
export default {
  data() {
    return {
      title: "window title"
    };
  },
  created() {},
  methods: {
    changeFoo() {
      const foo = prompt("Change settings to...", "");
    }
  }
};
</script>