<template>
  <ul>
    <li class="window" v-bind:class="deleted ? 'deleted' : ''">
      <div class="holder" v-bind:class="deleted ? 'deleted' : ''">
        <div v-on:click="switchWindow(win.id)" class="text">
          <img v-bind:src="activeTab.favIconUrl">
          <h4>{{activeTab.title}}</h4>
        </div>
        <div class="buttons">
          <button type="button" v-on:click="closeWindow(win.id)">
            <svg style="width:24px;height:24px" viewBox="0 0 24 24">
              <path
                fill="#ffffff"
                d="M9,3V4H4V6H5V19A2,2 0 0,0 7,21H17A2,2 0 0,0 19,19V6H20V4H15V3H9M7,6H17V19H7V6M9,8V17H11V8H9M13,8V17H15V8H13Z"
              ></path>
            </svg>
          </button>
        </div>
      </div>
    </li>
    <tab-tag v-for="(tab, index) in tabs" v-bind:key="index" v-bind:tab="tab" v-bind:deleted="deleted"/>
  </ul>
</template>

<script>
import tabTag from "./TabTag.vue";
import { tabsWith, getActiveTab } from "../WindowUtils";
export default {
  data() {
    return {
      activeTab: { title: "", favIconUrl: "" },
      tabs: [],
      deleted: false
    };
  },
  components: {
    tabTag
  },
  watch: {
    search(newVal) {
      this.tabs = tabsWith(this.win.tabs, newVal);
    },
    win(newVal) {
      this.activeTab = getActiveTab(newVal.tabs);
      this.tabs = tabsWith(newVal.tabs, this.search);
    }
  },
  created() {
    this.activeTab = getActiveTab(this.win.tabs);
    this.tabs = tabsWith(this.win.tabs, this.search);
  },
  methods: {
    filterTitle: function(title) {
      return title;
    },
    switchWindow: function(id) {
      chrome.windows.update(id, { focused: true });
    },
    closeWindow: function(id) {
      chrome.windows.remove(id);
      this.deleted = true;
    }
  },
  props: ["win", "search"]
};
</script>